<template>
  <div>
    <button type="button" id="get-object" @click="fetchCampaignObject">Get a campaign object</button>
    <div v-if="responseAvailable === true">
      <h2>{{ result.name }}</h2>
      <p>{{ result.description }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "CampaignObject",
  data: function () {
    return {
      result: '',
      responseAvailable: false,
    };
  },
  methods: {
    async fetchCampaignObject() {
      this.responseAvailable = false;
      fetch("https://localhost:8443/campaign_objects/1", {
        "method": "GET",
        "headers": {}
      })
          .then(response => {
            if (response.ok) {
              return response.json()
            } else {
              alert("Server returned " + response.status + " : " + response.statusText);
            }
          })
          .then(response => {
            this.result = response;
            console.log(response);
            this.responseAvailable = true;
          })
          .catch(err => {
            console.log(err);
          });
    }
  }
}
</script>

<style scoped>

</style>